[tool.poetry]
name = "redis-benchmarks-specification"
version = "0.1.0"
description = ""
authors = ["filipecosta90 <filipecosta.90@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6.1"
Flask = "^2.0.1"
Werkzeug = "^2.0.1"
flask-restx = "^0.5.0"
redis = "^3.5.3"
marshmallow = "^3.12.2"
argparse = "^1.4.0"
Flask-HTTPAuth = "^4.4.0"
PyYAML = "^5.4.1"
docker = "^5.0.0"
redisbench-admin = "^0.4.8"
psutil = "^5.8.0"
black = "20.8b1"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
flake8 = "^3.9.2"
pytest-cov = "^2.12.1"
codecov = "^2.1.12"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
redis-benchmarks-spec-api = "redis_benchmarks_specification.__api__.api:main"
redis-benchmarks-spec-builder = "redis_benchmarks_specification.__builder__.builder:main"
redis-benchmarks-spec-sc-coordinator = "redis_benchmarks_specification.__self_contained_coordinator__.self_contained_coordinator:main"
