version: 0.4
name: memtier_benchmark-3Mkeys-string-get-with-1KiB-values-pipeline-10-2000_conns
description: Runs memtier_benchmark, for a keyspace length of 3M keys loading STRINGs
  in which the value has a data size of 1000 Bytes, with 400 clients running random
  GET commands.
dbconfig:
  configuration-parameters:
    save: '""'
  check:
    keyspacelen: 3000000
  preload_tool:
    run_image: redislabs/memtier_benchmark:edge
    tool: memtier_benchmark
    arguments: --data-size 1000 --ratio 1:0 -n allkeys --pipeline 50 --key-maximum
      3000000 --key-pattern P:P --key-minimum 1 --hide-histogram -t 4 -c 10
  resources:
    requests:
      memory: 3g
  dataset_name: 3Mkeys-string-1KiB-size
  dataset_description: This dataset contains 3 million string keys, each with a data
    size of 1 KiB.
tested-commands:
- set
redis-topologies:
- oss-standalone
- oss-standalone-02-io-threads
- oss-standalone-04-io-threads
- oss-standalone-08-io-threads
- oss-standalone-16-io-threads
build-variants:
- gcc:15.2.0-amd64-debian-bookworm-default
- gcc:15.2.0-arm64-debian-bookworm-default
- dockerhub
clientconfig:
  run_image: redislabs/memtier_benchmark:edge
  tool: memtier_benchmark
  arguments: '"--data-size" "1000" --pipeline 10 --distinct-client-seed --ratio 0:1
    --key-pattern R:R --key-minimum=1 --key-maximum 3000000 --test-time 180 -c 200
    -t 10 --hide-histogram'
  resources:
    requests:
      cpus: '10'
      memory: 3g
tested-groups:
- string
priority: 17
