version: 0.4
name: memtier_benchmark-3Mkeys-string-mixed-50-50-with-512B-values-with-expiration-pipeline-10-400_conns
description: Runs memtier_benchmark, for a keyspace length of 3M keys loading STRINGs
  in which the value has a data size of 1000 Bytes, with 400 clients running random
  GET commands.
dbconfig:
  configuration-parameters:
    save: '""'
  preload_tool:
    run_image: redislabs/memtier_benchmark:edge
    tool: memtier_benchmark
    arguments: --data-size 512 --command "SET __key__ __data__ EX 5" -n allkeys --pipeline
      50 --key-maximum 3000000 --key-pattern P:P --key-minimum 1 --hide-histogram
      -t 1 -c 1
  resources:
    requests:
      memory: 3g
tested-commands:
- setex
- get
redis-topologies:
- oss-standalone
- oss-standalone-02-io-threads
- oss-standalone-04-io-threads
- oss-standalone-08-io-threads
- oss-standalone-16-io-threads
build-variants:
- gcc:15.2.0-amd64-debian-bookworm-default
- gcc:15.2.0-arm64-debian-bookworm-default
- dockerhub
clientconfig:
  run_image: redislabs/memtier_benchmark:edge
  tool: memtier_benchmark
  arguments: '"--data-size" "512" --pipeline 10 --distinct-client-seed --ratio 1:1
    --key-pattern R:R --key-minimum=1 --key-maximum 3000000 --test-time 180 -c 40
    -t 10 --hide-histogram'
  resources:
    requests:
      cpus: '10'
      memory: 3g
tested-groups:
- string
priority: 17
